{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm border-0 rounded-4">
                <div class="card-body p-4">
                    <h4 class="text-center mb-4">Forgot Password</h4>
                    <p class="text-muted text-center mb-4">
                        Enter your registered email address and we’ll send you a link to reset your password.
                    </p>
                    <!-- Error message -->
                        {% for field in form %}
                            {% if field.errors %}
                            <div class="col-12">
                                <span class="fw-bold">{{field.label_tag}}</span>
                                {% for error in field.errors %}
                                <span class="text-danger">{{error}}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        {% endfor %}

                        <!-- Validation-->
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <span class="text-danger">{{error}}</span>
                        </div>
                        {% endfor %}

                    
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <form method="post" action="{% url 'SSJ:forgot_password' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label fw-semibold">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                        </div>

                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-dark text-white">Send Reset Link</button>
                        </div>

                        <div class="text-center">
                            <a href="{% url 'SSJ:login' %}" class="text-decoration-none" style="color: #B18165;">Back to Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
